model-viewer {
    width: 100%;
    height: 90%;
    left: 20%;
    background-color: #000000;
  }

model-viewer#reveal {
    --poster-color: #000000;
  }
    model-viewer {
    --poster-color: #000000;
  }

  .box0 {
  position: fixed;
  z-index: 3; /* gray box will be above both green and black box */
  height: 70%;  
  width: 30%;
  left: 50px;
  top: 20%;
  font-size: 14px;
  color:  white;
    font-family: 'Gantari', sans-serif;
       overflow: scroll;


}

.box0 * {
    padding: 0px 10px;
}

  .box1 {
  position: fixed;
  z-index: 3; /* gray box will be above both green and black box */
  height: 12%;  
  width: 20%;
  right: 5%;
  top: 50px;
  font-size: 3em;
  color:  white;
  text-align:  right;
   font-family: "typewriter_condensedregular", sans-serif;
}

  .box2 {
  position: fixed;
  z-index: 3; /* gray box will be above both green and black box */
  height: 2%;  
  width: 2%;
  left: 1%;
  top: 50px;
}

.modal-body {
    background: rgb(0, 0, 0);
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999999;
  }
  
  .modal.modal-fullscreen .modal-dialog,
  .modal.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(255, 255, 255);
   
  }
  .modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
    animation-duration: 0.6s;
  }
  .modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
  }
  .modal.modal-fullscreen.force-fullscreen .modal-body {
    padding: 0;
  }
  .modal.modal-fullscreen.force-fullscreen .modal-header,
  .modal.modal-fullscreen.force-fullscreen .modal-footer {
    left: 0;
    position: absolute;
    right: 0;
  }
  .modal.modal-fullscreen.force-fullscreen .modal-header {
    top: 0;
  }
  .modal.modal-fullscreen.force-fullscreen .modal-footer {
    bottom: 0;
  }

  /* ar */

  

  
  
  .progress-bar {
    display: block;
    width: 33%;
    height: 10%;
    max-height: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 25px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .progress-bar.hide {
    visibility: hidden;
    transition: visibility 0.3s;
  }
  
  .update-bar {
    background-color: rgba(0, 0, 0, 0.9);
    width: 0%;
    height: 100%;
    border-radius: 25px;
    float: left;
    transition: width 0.3s;
      background-color: #fff;
  }
  
  #ar-button {
    background-image: url(ar_icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 16px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color:#4285f4;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
  }
  
  #ar-button:active {
    background-color: #E8EAED;
  }
  
  #ar-button:focus {
    outline: none;
  }
  
  #ar-button:focus-visible {
    outline: 1px solid #4285f4;
  }
  
  @keyframes circle {
    from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
  }
  
  @keyframes elongate {
    from { transform: translateX(100px); }
    to   { transform: translateX(-100px); }
  }
  
  model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 60px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
    background-color: #000000;
  }
  
  model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
  }
  
  model-viewer > #ar-prompt > img {
    animation: circle 4s linear infinite;
  }

  .link-ocone{
    padding: 50px;
    color:white;
    font-size:32px;
    text-decoration: none;
  }

  .link-ocone:hover{
    color: grey;
    text-decoration: none;
  }

  @media only screen and  (max-width: 768px) {
    .box0 {
      position: fixed;
      z-index: 3;
      height: 70%;
      width: 80%;
      left: 50px;
      top: 75%;
      font-size: 14px;
      color: white;
      font-family: 'Gantari', sans-serif;
      overflow: scroll;
    }
    .box1 {
      position: fixed;
      z-index: 3;
      height: 11%;
      width: auto;
      right: 30%;
      top: auto;
      font-size: 2em;
      color: white;
      text-align: right;
  }
    model-viewer {
      width: 100%;
      height: 20%;
      top: 50px;
      left: 0%;
      background-color: rgb(0, 0, 0);
      }
      .link-ocone{
        text-align: center;
        position: relative;
        padding: 0 0 0 30;
        top: 50;
        color: white;
        font-size: 20px;
        text-decoration: none;
      }
      .modal-body {
        position: relative;
        padding: 0px;
        bottom: 0%;
        height: 200%;
    }
  }

